@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "檢測成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <form asp-action="detectInfo">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-floating">
                    <input type="text" style="margin-top: 10px;" required="required" placeholder="自訂名稱" class="form-control" name="urlName" value="@TempData["urlName"]" readonly>
                    <label for="urlName">自訂名稱:</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-floating">
                    <input type="text" style="margin-top: 10px;" required="required" placeholder="網址" class="form-control" name="Url" value="@TempData["Url"]" readonly>
                    <label for="Url">網址:</label>
                </div>
            </li>
        </ul>
    </form>
    <form asp-action="show">  
        <p class="h3">檢測成功</p>
        <input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="下一步" />
    </form>
</div>