@model IEnumerable<WebCrawler.Models.PostAnalysis>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawStuff);

  function drawStuff() {
    var data = new google.visualization.arrayToDataTable([
      ['偵測類別', '數量'],
      ["姓名", 44],
      ["Email", 31],
      ["電話", 12],
      ["地址", 10]
    ]);

    var options = {
      title: '個人紀錄統計',
      width: 900,
      legend: { position: 'none' },
      chart: { title: '個人紀錄統計'},
      bars: 'horizontal', // Required for Material Bar Charts.
      axes: {
        x: {
          0: { side: 'top', label: '數量'} // Top x-axis.
        }
      },
      bar: { groupWidth: "90%" }
    };

    var chart = new google.charts.Bar(document.getElementById('top_x_div'));
    chart.draw(data, options);
  };
</script>

<div class="card">
    <div class="card-header">
        <h5>個資外洩</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            
            <div id="top_x_div" style="width: 900px; height: 300px;"></div>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>檢測項目</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            
            <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["user_id"]>姓名檢測</a>
            <br>
            <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["user_id"]>電話檢測</a>
            <br>
            <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["user_id"]>Email檢測</a>
            <br>
            <a class="btn btn-outline-secondary" asp-action="PreContent" asp-route-id=@TempData["user_id"]>地址檢測</a>
        </ul>
    </div>
</div>