@*<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/About_Us.png" class="d-block w-100" alt="關於我們">
    </div>
  </div>
</div>*@
<div class="container">
<div class="col-12">
    <div class="card">
        <img src="~/img/About_Us3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <dl class="row justify-content-start">
                        <dt class="col-sm-12">
                            當今屬於資訊科技的時代，新技術帶來方便的同時，隱私的問題也逐漸浮現。
                        </dt>
                    </dl>
                    <dl class="row justify-content-start">
                        <dt class="col-sm-12">
                            有心人士透過各種不法行徑竊取個資，而個人資料外洩的後果，<br>輕則產生詐騙問題，重則衍生成資訊戰，因此資訊安全的重要性也逐漸受到重視。
                        </dt>
                    </dl>
                    <dl class="row justify-content-start">
                        <dt class="col-sm-12">
                            本系統適用於需要檢測個資的使用者，可以立即或定期檢測網站，系統需依照使用者之需求產生統計資料。
                        </dt>
                    </dl>
                </li>
                <li class="list-group-item">
                    <dl class="row justify-content-start">
                        <dt class="col-sm-3"><p class="h3" >需要幫助嗎？</p></dt>
                    </dl>
                    <dl class="row justify-content-start">
                        <dd class="col-sm-4">如有任何疑問，歡迎與我們聯繫！</dd>
                    </dl>
                    <dl class="row justify-content-center">
                        <dt class="col-sm-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.495317535429!2d120.53067261536201!3d23.69399969684462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346ec81cbd5d9ea3%3A0x43a0daabb99bcd76!2z5ZyL56uL6Zuy5p6X56eR5oqA5aSn5a24566h55CG5a246ZmiMemkqA!5e0!3m2!1szh-TW!2stw!4v1620726828507!5m2!1szh-TW!2stw" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></dt>
                    </dl>
                    <dl class="row justify-content-center">
                        <dt class="col-sm-2">　地址　 : </dt>
                        <dd class="col-sm-5">雲林縣斗六市大學路3段123號管理學院MA101</dd>
                    </dl>
                    <dl class="row justify-content-center">
                        <dt class="col-sm-2">客服信箱 : </dt>
                        <dd class="col-sm-5">yunsec.service@gmail.com</dd>
                    </dl>
                    <dl class="row justify-content-center">
                        <dt class="col-sm-2">客服電話 : </dt>
                        <dd class="col-sm-5">05-5342601#5358</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>