@{
    ViewData["Title"] = "登入";
}

<body>
    <div class="container text-center" style="margin-top: 0px;">
        <div class="row">
            <!--<div class="col">
                <img src="show.jpg">
            </div>-->
            <div class="col-4"></div>
            <div class="col-12" id="a">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                點我登入
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                            <div class="card-body">
                                <form>
                                    <input type="text" style="margin-top: 10px;" placeholder="Account" class="form-control">
                                    <input type="text" style="margin-top: 10px;" placeholder="Password" class="form-control">
                                    <input type="submit" style="margin-top: 10px;" value="登入"
                                        class="btn btn-secondary barbtn">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-wrap">
                            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                加入我們
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <form>                                  
                                    <input class="form-control" style="margin-top: 10px;" type="email" name="UEmail"
                                        placeholder="Email" required="">
                                    <input class="form-control" style="margin-top: 10px;" type="password"
                                        name="UPassword" placeholder="Password" required="">
                                    <input class="form-control" style="margin-top: 10px;" type="text" name="Name"
                                        placeholder="Name" required="">
                                    <input class="form-control" style="margin-top: 10px;" type="tel" name="Phone_number"
                                        placeholder="Phone_number" required="">                                  
                                    <input type="submit" style="margin-top: 10px;" value="送出審核"
                                        class="btn btn-secondary barbtn">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    
</body>
