@{
    ViewData["Title"] = "註冊";
}
<div>
    <form asp-action="Register_Join">
        姓名:<input type="text" name="Name" /><br />
        Email:<input type="email" name="Account" /><br />
        密碼:<input type="password" name="Password" /><br />
        電話:<input type="Tel" name="Tel" /><br />
        <input type="submit" value="註冊" />
    </form>
    @ViewBag.complete
</div>