@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebCrawler.Models.Announment
<div class="card">
    <div class="card-header">
        <h5>@Html.DisplayFor(i => i.Title)</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
             <li class="list-group-item"><a>@Html.DisplayFor(i => i.Content)</a></li>
        </ul>
    </div>
</div>