@model IEnumerable<WebCrawler.Models.User>
@{

}
<div class="card">
    <h3>@ViewBag.state</h3>
    <div class="card-header">
        <a><h5>新增公告</h5></a>
    </div>
    <div class="card-body">
        <form asp-action="Message_Instert">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-floating">
                        <input type="text" list="US" id="UEmail" name="UEmail" />
                        <datalist id="US">
                            @foreach(var i in Model){
                                <option label="@Html.DisplayFor(model=>i.UName)">@Html.DisplayFor(model=>i.UEmail)</option>
                            }
                        </datalist>
                        <label for="floatingInputValue">輸入使用者Email</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-floating">
                        <textarea style="height: 100px" class="form-control" id="floatingTextarea" name="Content" required="required"></textarea>
                        <label for="floatingTextarea">輸入內容</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <input class="btn btn-success" type="submit" value="送出"/>
                    <a class="btn btn-secondary" asp-controller='Backend' asp-action='Message_Manage'>返回</a>
                </li>
            </ul>
        </form>
        
    </div>
</div>

